/* Your app custom styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-ExtraLight.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

html,
body {
  @apply font-sans;
}

@layer utilities {
  .text-gradient {
    @apply bg-primary-gradient bg-clip-text text-transparent;
  }
}

.segmented-strong .segmented-highlight {
  @apply bg-primary-gradient !important;
}

.reflect-text {
  position: relative;
}

.reflect-text::after {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  right: 0;
  width: 90%;
  transform: scaleY(-1);
  opacity: 1;
  filter: blur(0.5px);
  color: #a03d8c;

  background: linear-gradient(to right, #a03d8c, #4c2cca);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), transparent);
}
.lottery-text {
  text-shadow:
    -2px -2px 0 #faf5ff,
    2px -2px 0 #faf5ff,
    -2px 2px 0 #faf5ff,
    2px 2px 0 #faf5ff,
    0 2px 0 #faf5ff,
    2px 0 0 #faf5ff,
    0 -2px 0 #faf5ff,
    -2px 0 0 #faf5ff;
}
